{% extends "layout.jinja2" %}
{% block body %}
<div class = "container">
    <div class = "jumbotron">
        <!-- Page Content -->
        <h1>About me</h1>
        <p class = "lead">I like to bike</p>
    </div>
</div>
{% endblock %}