{% extends "layout.jinja2" %}
{% block body %}
    <div class = "jumbotron">
        Hi there {{ full_name }}. You like {{ thing }}
        <img style-"width: 400px;" src = "{{ image_paths }}">
    </div>

{% endblock %}