{% extends "layout.jinja2" %}
{% block body %}
<div class = "container">
    <div>
        <!-- Page Content -->
        <h1>Welcome to my website</h1>
        <p>Here is some information about me</p>
    </div>
</div>
{% endblock %}