{% extends "layout.jinja2" %}
{% block body %}
    <div class = "jumbotron">
        <h1>Thank you for posting!</h1>
    <a href="index.jinja2" class="btn btn lg btn primary"> Back to the Board</a>
    </div>
{% endblock %}